@charset "UTF-8";
@font-face {
  font-family: "NotoSerif";
  src: url("../Assets/Fonts/static/NotoSerifDisplay/NotoSerifDisplay-Regular.ttf"); }

@font-face {
  font-family: "Dancing Script";
  src: url("../Assets/Fonts/DancingScript-VariableFont_wght.ttf"); }

@font-face {
  font-family: "Abel";
  src: url("../Assets/Fonts/Abel-Regular.ttf"); }

@font-face {
  font-family: "SourceSansPro";
  src: url("../Assets/Fonts/SourceSansPro-Regular.ttf"); }

@font-face {
  font-family: "SourceSansProSB";
  src: url("../Assets/Fonts/SourceSansPro-SemiBold.ttf"); }

@font-face {
  font-family: "SourceSansProBold";
  src: url("../Assets/Fonts/SourceSansPro-Bold.ttf"); }

@font-face {
  font-family: "SourceSansProItalic";
  src: url("../Assets/Fonts/SourceSansPro-Italic.ttf"); }

@font-face {
  font-family: "SourceSansProLight";
  src: url("../Assets/Fonts/SourceSansPro-Light.ttf"); }

@font-face {
  font-family: "Solitreo";
  src: url("../Assets/Fonts/Solitreo-Regular.ttf"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* --------------------------------------------- Css común -----------------------------------------------------*/
.nav__navig {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500; }

.nav .nav__marca {
  color: #f7f5f6;
  font-size: 25;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 0; }

.head {
  background-image: url(../Assets/Images/banner_principal.jpg);
  background-size: cover;
  height: 100vh;
  min-height: 80vh;
  position: relative;
  color: #f7f5f6;
  text-shadow: 2px 2px 2px #1d1d1b;
  height: 100vh;
  width: 100%;
  object-fit: cover; }

h1 {
  font-size: 4rem; }

.head__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 29, 27, 0.28); }

.social {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 4;
  background-color: #ff5151; }

.social a {
  margin: 3px; }

.divider {
  margin: 5rem; }

.about__img {
  object-fit: cover; }

.carrusel__objeto {
  height: 100vh;
  min-height: 300px; }

.carrusel__img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.carrusel__texto {
  bottom: 220px;
  z-index: 2; }

.carrusel__texto h5 {
  font-size: 45px;
  text-transform: uppercase;
  /*letter-spacing:2px; */
  margin-top: 25px; }

.carrusel__texto p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9; }

.carrusel__interior::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1; }

.carrusel-2__img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.cancion {
  height: 100vh; }

.service .card-body i {
  font-size: 50px; }

.team .card-body i {
  font-size: 20px; }

.portfolio .card {
  box-shadow: 15px 15px 40px black; }

.team .card {
  box-shadow: 15px 15px 40px black; }

.footer__ol {
  text-decoration: none; }

/* page 2: nosotros */
.h1-nos {
  font-size: calc(4rem + 1.1vw); }

.title-hr {
  border: 1px solid black; }

.video-fluid {
  object-fit: cover; }

/* -----------page 3: música -----------*/
#video {
  min-height: 100vh;
  position: relative; }

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 80vh;
  object-fit: cover; }

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #464646;
  opacity: 0.35;
  mix-blend-mode: overlay; }

.head-3 {
  background-image: url(../Assets/Images/band-1.png);
  background-size: cover;
  height: 85vh;
  min-height: 80vh;
  position: relative;
  color: #f7f5f6;
  text-shadow: 2px 2px 2px #1d1d1b; }

.head-5__imgs {
  object-fit: cover; }

.bobis {
  background-image: url(../Assets/Images/church.png);
  background-size: cover;
  height: 85vh;
  min-height: 80vh;
  position: relative;
  color: #f7f5f6; }

.adn-section {
  width: 75%; }

.video-5 {
  min-width: 80vw;
  min-width: 30vw;
  min-height: 80vh; }

.oli {
  display: block;
  width: 90vw;
  min-width: 90vw; }

/*-------------------------------------- css's listos para utilizar en clases------------------------------------*/
.font-solitreo {
  font-family: "Solitreo"; }

.font-sanspro {
  font-family: "SourceSansPro"; }

.font-sanspro-b {
  font-family: "SourceSansProBold"; }

.font-sanspro-sb {
  font-family: "SourceSansProSB"; }

.font-sanspro-i {
  font-family: "SourceSansProItalic"; }

.font-sanspro-l {
  font-family: "SourceSansProLight"; }

.font-dancing {
  font-family: "Dancing Script"; }

.font-noto {
  font-family: "NotoSerif"; }

.text-border-w {
  -webkit-text-stroke: 1px #f7f5f6; }

.bg-white-sp {
  background-color: #f7f5f6; }

.bg-black-sp {
  background-color: #1d1d1b; }

.bg-black-nigger {
  background-color: #131313; }

.bg-green-sp {
  background-color: #95ad9e; }

.bg-beige-sp {
  background-color: #fecb90; }

.bg-yellow-sp {
  background-color: #fdecb2; }

.bg-brown-sp {
  background-color: #ac664d; }

.bg-grey-sp {
  background-color: #564646; }

.color-white-sp {
  color: #f7f5f6; }

.color-black-sp {
  color: #1d1d1b; }

.color-green-sp {
  color: #95ad9e; }

.color-beige-sp {
  color: #fecb90; }

.color-yellow-sp {
  color: #fdecb2; }

.color-brown-sp {
  color: #564646; }

.section-padding {
  padding: 100px 0; }

.fs-b {
  font-size: calc(1.825rem + 2vw); }

.fs-b-1 {
  font-size: calc(1.725rem + 1.8vw); }

/*-----------------------------------------------------HOVER------------------------------------------------------*/
.nav .navbar__marca:focus,
.nav .navbar__marca:hover {
  color: #fdecb2; }

.hvr-border-b {
  border-bottom: 0; }

.hvr-border-b:hover {
  border-bottom: 4px solid #fdecb2;
  padding-bottom: 0.3rem; }

.btn-green-sp {
  color: #f7f5f6;
  background-color: #95ad9e;
  border-color: #95ad9e; }

.btn-green-sp:hover {
  color: #000;
  background-color: #f7f5f6;
  border-color: #f7f5f6; }

.btn-grey-sp {
  color: #f7f5f6;
  background-color: #564646;
  border-color: #564646; }

.btn-grey-sp:hover {
  color: #000;
  background-color: #ac664d;
  border-color: #ac664d; }

.btn-yellow-sp {
  color: #1d1d1b;
  background-color: #fdecb2;
  border-color: #fdecb2; }

.btn-yellow-sp:hover {
  background-color: #E5C568;
  border-color: #E5C568; }

.btn-beige-sp {
  color: #000;
  background-color: #fecb90;
  border-color: #fdecb2; }

.btn-black-sp {
  color: #f7f5f6;
  background-color: #1d1d1b;
  border-color: #1d1d1b; }

.btn-black-sp:hover {
  color: #000;
  background-color: #f7f5f6;
  border-color: #f7f5f6; }

.brand-hvr {
  color: #f7f5f6; }

.nav__marca:hover {
  color: #fecb90; }

/* --------------------------------------------------- RESPONSIVE-------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-caption {
    bottom: 370px; }
  .carousel-caption p {
    width: 100%; }
  .card {
    margin-bottom: 30px; }
  .img-area img {
    width: 100%; }
  .about-text {
    font-size: calc(1.275rem + 0.5vw); } }

@media only screen and (max-width: 990px) {
  .carrusel {
    display: none; } }

@media only screen and (min-width: 991px) {
  .carrusel-2 {
    display: none; } }

@media only screen and (max-width: 767px) {
  .navbar-nav {
    text-align: center; }
  .carousel-caption {
    bottom: 125px; }
  .carousel-caption h5 {
    font-size: 17px; }
  .carousel-caption a {
    padding: 10px 15px; }
  .carousel-caption p {
    width: 100%;
    line-height: 1.6;
    font-size: 12px; }
  .about-text {
    padding-top: 50px; }
  .card {
    margin-bottom: 30px; } }

@media only screen and (max-width: 568px) {
  h1 {
    font-size: 3rem; } }

/* ----------------RESPONSIVE-"NOSOTROS?"----------------- */
@media only screen and (max-width: 767px) {
  .h1-nos {
    font-size: calc(3rem + 3.1vw); }
  .head__overlay {
    display: flex;
    align-items: center;
    text-align: center; }
  .btn-x {
    display: flex;
    align-items: flex-end; } }

/* ---------------RESPONSIVE-"MÚSICA" ------------------*/
@media only screen and (max-width: 568px) {
  .canciones__mus {
    flex-direction: column-reverse; } }

/* ---------------RESPONSIVE-"IGLESIA"-------------------*/
@media only screen and (max-width: 568px) {
  .video-5 {
    height: 30vh; } }
