@font-face {
    font-family: "NotoSerif";
    src: url("../Assets/Fonts/static/NotoSerifDisplay/NotoSerifDisplay-Regular.ttf");
}
@font-face {
    font-family: "Dancing Script";
    src: url("../Assets/Fonts/DancingScript-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Abel";
    src: url("../Assets/Fonts/Abel-Regular.ttf");
}
@font-face {
    font-family: "SourceSansPro";
    src: url("../Assets/Fonts/SourceSansPro-Regular.ttf"); }
@font-face{
    font-family:"SourceSansProSB";
    src:url("../Assets/Fonts/SourceSansPro-SemiBold.ttf");
}
@font-face{
    font-family: "SourceSansProBold";
    src:url("../Assets/Fonts/SourceSansPro-Bold.ttf");
}
@font-face{
    font-family: "SourceSansProItalic";
    src:url("../Assets/Fonts/SourceSansPro-Italic.ttf");
}
@font-face{
    font-family: "SourceSansProLight";
    src:url("../Assets/Fonts/SourceSansPro-Light.ttf");
} 
@font-face {
    font-family: "Solitreo";
    src: url("../Assets/Fonts/Solitreo-Regular.ttf"); }