.bg-img-pag-5{
    background-image: url(../Assets/Images/church.png);
    background-size: $cover;
    height: 85vh;
    min-height:80vh;
    position:relative;
    color: $color-blanco-sp;
}

.adn-section{
    width: 75%;
}
.video-5{
    min-width:80vw;
    min-width:30vw;
    min-height:80vh;
}