#video{
    min-height: 100vh;
    position:relative;
}

video{
    position:absolute;
    top: 0;
    left: 0;
    width:$cien-porciento;
    height:100vh;
    min-height:80vh;
    object-fit: $cover;
}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: $cien-porciento;
    height:100vh;
    background: $color-negro-transparente;
    opacity:0.35;
    mix-blend-mode:overlay;
} 
.head-3{
    background-image: url(../Assets/Images/band-1.png);
    background-size: $cover;
    height: 85vh;
    min-height:80vh;
    position:relative;
    color: $color-blanco-sp;
    text-shadow: 2px 2px 2px $color-negro-sp;
}