$color-negro-sp: rgb(29,29,27);
$color-negro:#000;
$color-negro-transparente:rgba(0,0,0,0.1);
$color-blanco-sp: rgb(247,245,246);
$color-verde-sp: rgb(149,173,158);
$color-amarillo-sp: rgb(253,236,178);
$color-beige-sp:rgb(254,203,144);
$color-marron-sp:#ac664d;
$color-gris-sp:rgb(86,70,70);
$color-rojo-yt:rgb(255, 0, 0);
$color-rosado-ig:rgb(250, 0, 104);
$color-verde-sptf:rgb(0, 255, 0);

$cover:cover;
$cien-porciento:100%;