

$color-negro-sp: rgb(29,29,27);
$color-negro:#000;
$color-negro-transparente:rgba(0,0,0,0.1);
$color-blanco-sp: rgb(247,245,246);
$color-verde-sp: rgb(149,173,158);
$color-amarillo-sp: rgb(253,236,178);
$color-beige-sp:rgb(254,203,144);
$color-marron-sp:#ac664d;
$color-gris-sp:rgb(86,70,70);
$color-rojo-yt:rgb(255, 0, 0);
$color-rosado-ig:rgb(250, 0, 104);
$color-verde-sptf:rgb(0, 255, 0);

$cover:cover;
$cien-porciento:100%;

@import "variables";
@font-face {
    font-family: "NotoSerif";
    src: url("../Assets/Fonts/static/NotoSerifDisplay/NotoSerifDisplay-Regular.ttf");
}
@font-face {
    font-family: "Dancing Script";
    src: url("../Assets/Fonts/DancingScript-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Abel";
    src: url("../Assets/Fonts/Abel-Regular.ttf");
}
@font-face {
    font-family: "SourceSansPro";
    src: url("../Assets/Fonts/SourceSansPro-Regular.ttf"); }
@font-face{
    font-family:"SourceSansProSB";
    src:url("../Assets/Fonts/SourceSansPro-SemiBold.ttf");
}
@font-face{
    font-family: "SourceSansProBold";
    src:url("../Assets/Fonts/SourceSansPro-Bold.ttf");
}
@font-face{
    font-family: "SourceSansProItalic";
    src:url("../Assets/Fonts/SourceSansPro-Italic.ttf");
}
@font-face{
    font-family: "SourceSansProLight";
    src:url("../Assets/Fonts/SourceSansPro-Light.ttf");
} 
@font-face {
    font-family: "Solitreo";
    src: url("../Assets/Fonts/Solitreo-Regular.ttf"); }
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* --------------------------------------------- Css común -----------------------------------------------------*/

.nav__navig{
    font-size:15px;
    text-transform:uppercase;
    font-weight: 500;
}

.nav .nav__marca{
   color:$color-blanco-sp;
   font-size:25;
   text-transform:uppercase;
   font-weight: 700;
   margin-right: 0;
}

.head{
    background-image: url(../Assets/Images/banner_principal.jpg);
    background-size: $cover;
    height: 100vh;
    min-height:80vh;
    position:relative;
    color: $color-blanco-sp;
    text-shadow: 2px 2px 2px $color-negro-sp;
    width:$cien-porciento;
    object-fit:$cover; 
}
h1{
    font-size:4rem;
}
.overlay{
    position:absolute;
    width:$cien-porciento;
    height:$cien-porciento;
    background-color:$color-negro-transparente;
}
.social{
    position:fixed;
    bottom: 15px;
    left:15px;
    z-index:4;
    background-color: rgb(255, 81, 81);
}
.social{
    a{
        margin:3px;
    }
}
.divider{
    margin: 5rem;
}

.carrusel__objeto{
    height:100vh;
    min-height: 300px; 
}
.carrusel__img{
    height:$cien-porciento;
    width:$cien-porciento;
    object-fit:$cover;
}
.carrusel__texto{
    bottom:220px;
    z-index: 2;
}

.carrusel__texto{
    h5{
        font-size:45px; 
        text-transform:uppercase;
        /*letter-spacing:2px; */
        margin-top:25px;
    }  
}

.carrusel__texto {
    p{
        width: 60%;
        margin: auto;
        font-size: 18px;
        line-height:1.9;
    }
}

.carrusel__interior::before{
    content:'';
    position: absolute;
    width: $cien-porciento; 
    height:$cien-porciento;
    top:0;
    left:0;
    background: $color-negro-transparente;
    z-index:1;

}
.carrusel-2__img{
    height:$cien-porciento;
    width:$cien-porciento;
    object-fit:$cover; 
}
.service .card-body i{
    font-size:50px;
}

.team .card-body i{
    font-size: 20px;
}

.portfolio .card{
    box-shadow: 15px 15px 40px rgba(0,0,0,15);
}
.team .card{
    box-shadow: 15px 15px 40px rgba(0,0,0,15);
}

.footer__ol{
    text-decoration:none;
}

 /*--------------------------------- page 2: nosotros */


.head-nos{
    background-image:url(../Assets/Images/fiesta-outside.png);
    background-size: $cover;
    height: 85vh;
    min-height:80vh;
    position:relative; 
    color: $color-blanco-sp;
    text-shadow: 2px 2px 2px $color-negro-sp;
}
.h1-nos{
    font-size:calc(4rem + 1.1vw);
} 
.title-hr{  
    border: 1px solid $color-negro;
}  
.story{
    background-image: url("../Assets/Images/100-Iglesia-2.jpg");
    background-size: $cover;
    height: $cien-porciento;
    min-height:80vh;
    position:relative; 
    .container{
        .about-text{
            .story__text-1{
                background-color:rgba(29,29,27,0.6);
            }
        }
        .row{
            .about-text{
                .story__text-2{
                    background-color:rgba(29,29,27,0.6);
                }
            }
        }
    }
    
}
                                   /* -----------page 3: música -----------*/
#video{
    min-height: 100vh;
    position:relative;
}

video{
    position:absolute;
    top: 0;
    left: 0;
    width:$cien-porciento;
    height:100vh;
    min-height:80vh;
    object-fit: $cover;
}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: $cien-porciento;
    height:100vh;
    background: $color-negro-transparente;
    opacity:0.35;
    mix-blend-mode:overlay;
} 
.head-3{
    background-image: url(../Assets/Images/band-1.png);
    background-size: $cover;
    height: 85vh;
    min-height:80vh;
    position:relative;
    color: $color-blanco-sp;
    text-shadow: 2px 2px 2px $color-negro-sp;
}

.bg-img-pag-5{
    background-image: url(../Assets/Images/church.png);
    background-size: $cover;
    height: 85vh;
    min-height:80vh;
    position:relative;
    color: $color-blanco-sp;
}

.adn-section{
    width: 75%;
}
.video-5{
    min-width:80vw;
    min-width:30vw;
    min-height:80vh;
}
.oli{
    display:block;
    width:90vw;
    min-width:90vw;
}
/*-------------------------------------- css's listos para utilizar en clases------------------------------------*/
.font-solitreo {
    font-family: "Solitreo" ; }
    
.font-sanspro {
    font-family: "SourceSansPro" ; }

.font-sanspro-b{
    font-family:"SourceSansProBold";
}
.font-sanspro-sb{
    font-family:"SourceSansProSB";
}

.font-sanspro-i{
    font-family:"SourceSansProItalic";
}

.font-sanspro-l{
    font-family:"SourceSansProLight";
}
.font-dancing{
    font-family:"Dancing Script";
}
.font-noto{
    font-family:"NotoSerif";
}
.font-abel{
    font-family:"Abel";
}
.border-stroke-w{
    -webkit-text-stroke: 1px $color-blanco-sp;
}
.border-brown-sp{
    border: 3px solid $color-marron-sp;
    border-color: $color-marron-sp;
}
.bg-white-sp{
    background-color:$color-blanco-sp;
}

.bg-black-sp{
    background-color: $color-negro-sp;
}

.bg-green-sp {
    background-color:$color-verde-sp;
}

.bg-beige-sp{
    background-color: $color-beige-sp;
}

.bg-yellow-sp{
    background-color:$color-amarillo-sp;
}
.bg-brown-sp{
    background-color: $color-marron-sp;
}
.bg-grey-sp{
    background-color: $color-gris-sp;
}
.color-white-sp{
    color: $color-blanco-sp;
}

.color-black-sp{
    color: $color-negro-sp;
}

.color-green-sp{
    color: $color-verde-sp;
}

.color-beige-sp{
    color: $color-beige-sp;
}

.color-yellow-sp{
    color: $color-amarillo-sp;
}
.color-brown-sp{
    color: $color-marron-sp;
}
.color-red-yt{
    color:$color-rojo-yt;
}
.color-pink-ig{
    color:$color-rosado-ig;
}
.color-green-sptf{
    color:$color-verde-sptf;
}
.section-padding{
    padding:100px 0;
}
.fs-b{
    font-size: calc(1.825rem + 2vw);
}
.fs-b-1{
    font-size: calc(1.725rem + 1.8vw);
}

.fit-cover{
    object-fit: $cover;
}
.fit-contain{
    object-fit: contain;
}

/*-----------------------------------------------------HOVER------------------------------------------------------*/
.nav .navbar__marca:focus,
.nav .navbar__marca:hover{
    color:$color-amarillo-sp;
}
.hvr-border-b {
    border-bottom: 0; }
  
.hvr-border-b:hover {
    border-bottom: 4px solid $color-amarillo-sp;
    padding-bottom: 0.3rem; 
}
.btn-green-sp {
  color: $color-blanco-sp;
  background-color: $color-verde-sp;
  border-color: $color-verde-sp;
}
.btn-green-sp:hover {
  color: $color-negro;
  background-color: $color-blanco-sp;    
  border-color: $color-blanco-sp;
}
.btn-grey-sp {
    color: $color-blanco-sp;
    background-color: $color-gris-sp;
    border-color: $color-gris-sp;
  }
.btn-grey-sp:hover {
    color: $color-negro;
    background-color: $color-marron-sp;    
    border-color: $color-marron-sp;
  }
.btn-yellow-sp{
    color:$color-negro-sp;
    background-color: $color-amarillo-sp;
    border-color:$color-amarillo-sp;
}
.btn-yellow-sp:hover{
    background-color:#E5C568;
    border-color:#E5C568;
}
.btn-beige-sp{
    color:$color-negro;
    background-color: $color-beige-sp;
    border-color: $color-amarillo-sp;
}
.btn-beige-sp:hover{
    background-color:#E5C568;
    border-color:#E5C568;
}
.btn-black-sp {
    color: $color-blanco-sp;
    background-color: $color-negro-sp;
    border-color: $color-negro-sp;
  }
.btn-black-sp:hover {
    color: $color-negro;
    background-color: $color-blanco-sp;    
    border-color: $color-blanco-sp;
  }
.brand-hvr{
    color: $color-blanco-sp;
}
.nav__marca:hover{
    color: $color-beige-sp;
}

/* --------------------------------------------------- RESPONSIVE-------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width:991px){
    .carousel-caption {
        bottom:370px;
    }
    .carousel-caption p{
        width:$cien-porciento;
    }
    .card{
        margin-bottom: 30px;  
    }
    .img-area img{
        width:$cien-porciento;
    }
    .about-text{
        font-size: calc(1.275rem + 0.5vw);
    }
}
@media only screen and (max-width:990px){
    .carrusel{
        display:none; 
    }
}
@media only screen and (min-width:991px){
    .carrusel-2{
        display:none;
    }
}

@media only screen and (max-width: 767px){
    .navbar-nav{
        text-align:center;
    }
    .carousel-caption{
        bottom:125px;
    }
    .carousel-caption h5{
        font-size:17px;
    }
    .carousel-caption a{
        padding:10px 15px;
    }
    .carousel-caption p{
        width:$cien-porciento;
        line-height:1.6;
        font-size:12px;
    }
    .about-text{
        padding-top:50px;
    }
    .card{
        margin-bottom:30px;
    }
}
@media only screen and (max-width:568px){
    h1 {
       font-size: 3rem;
    }
}
/* ----------------RESPONSIVE-"NOSOTROS?"----------------- */
@media only screen and (max-width:767px) {
    .h1-nos{
        font-size:calc(3rem + 3.1vw);
        
    }
    .overlay{
        display:flex;
        align-items: center;
        text-align: center; 
        
    }
    .btn-x{
        display:flex;
        align-items: flex-end;
    }
    
}
/* ---------------RESPONSIVE-"MÚSICA" ------------------*/
@media only screen and (max-width:568px){
    .canciones__mus{
        flex-direction: column-reverse;
    }
}
/* ---------------RESPONSIVE-"IGLESIA"-------------------*/
@media only screen and (max-width:568px){
    .video-5{
        height:30vh;
    }
}