

@import "variables";
@import "utilities";
@import "hover";
@import "fonts";
@import "nav";
@import "page-1";
@import "page-2";
@import "page-3";
@import "page-4";
@import "page-5";
@import "queries";


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

